body{
    font-family: 'Courgette', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
.own{
    color: rgba(123, 32, 228, 0.733);
}
section{
    display: flex;
}
.half{
    width: 60%;
    padding-left: 6%;
}
.half img{
    width: 90%;
    padding-top: 5%;
    padding-right: 10%;
}
.bun{
    text-decoration: none;
    background-image: -webkit-linear-gradient(rgba(98, 16, 206, 0.801),rgba(120, 204, 253, 0.87));
    border-radius: 7px;
    padding: 10px 40px;
    color: rgb(255, 236, 254);
    font-weight: bolder;
    font-size: 20px;
    
}
.top{
    background-image: url(top.png);
    background-repeat: no-repeat;
}
.four{
    width: 60%;
    padding-left: 6%;
    padding-top: 8%;
    padding-right: 10%;
}
.four img{
 width: 95%;
}
p{
    font-size: 18px;
}
.down{
    text-decoration: none;
    background-image: -webkit-linear-gradient(rgba(184, 42, 6, 0.932),rgba(253, 141, 76, 0.788));
    color: rgba(255, 255, 255, 0.781);
    padding: 10px 40px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 20px;
}
.big{
    background-image: url(dream.png);
    background-repeat: no-repeat;
    background-position: right;
}
